body {
  background-color:aqua;
  background-image:url('WIN_20241026_11_16_15_Pro.jpg');
  background-size:cover;
  
}

h1 {
 font-family: Arial, sans-serif;
  Font-size: 16px;
  color: #333;

}
